.containerx {
    margin: 20px 200px;
}

.button p {
    font-size: 25px;
    font-weight: 400;
    padding-top: 20px;
}

.container-fluid p {
    margin-right: 30px;
    margin-top: 15px;
    font-size: 20px;
    
}

.navigation {
    padding-top: 45px;
    text-align:center;
 
}

.navigation a{
    font-size: 50px;
}

.navbar-brand p {
    margin-right: 70px;
}

.navigation li {
    /* margin-left: 20px; */
    text-align:center;

}

.navigation p {
    text-align:center;
}

.right {
    float:right;
    color: aqua;
}

.test {
    width: 100%;
    height: 400px;
}

.image {
    width: 300px;
    height: 200px;
    margin-right: 50%;
    margin-top: 20px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-left: 15%;
    font-family: 'Roboto Slab', serif;
    color: rgb(0, 0, 0);
}

.nonVg {
    color: maroon;
    border: 2px solid maroon;
    font-size: 16px;
}

.container2 {
    margin-left: 15%;
}

.footer {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

/* .playstore {
    margin-left: 20px;
} */
